
input {
  width: 100%;
}
.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  width: 75%;
  /*padding: 20px;*/
}

.large-textarea {
  width: 80%;
  height: 40vh; /* Adjust height as needed */
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none; /* Prevent resizing */
}