
.grid-container {
  display: flex;
  outline: grey;
  border-color: white;
  border-width: 2px;
  display: grid;
  grid-template-columns: repeat(128, 10px);
  gap: 1px;
}

.grid-item {
  border-color: white;
  border-width: 4px;
  display: flex;
  flex-direction: row;
}