#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lower-container {
  display: flex;
  flex-direction: row;
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.button {
  display: flex;
  flex-direction: row;
  display: flex;
  height: 20%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

